
body{
	font-family: verdana, arial;
}
a{
	text-decoration: none;
}

.menu_item{
	border-bottom: dotted 1px #eee;
}

.t_header{
	border-bottom: dotted 1px #0e0e0e;
	font-weight:bold;
}
.menu_box{
	border-right: solid 1px #eee;
	vertical-align: top;
}
.content{
	padding-left: 10px;
	vertical-align: top;
}
.desc{
	font-size:11px;
	vertical-align:top;
}
#footer {
	text-align: center;
	font-size: 10px;
}